# HK interest rate

In [16]:
import numpy as np
import pandas as pd
import requests
import yfinance as yf

import matplotlib.pyplot as plt

from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [17]:
apiFrom = '2020-01'
apiTo = '2024-12'

try:
    response = requests.get(f"https://api.hkma.gov.hk/public/market-data-and-statistics/monthly-statistical-bulletin/er-ir/hkd-ir-periodaverage?pagesize=1000&choose=end_of_month&from={apiFrom}&to={apiTo}&sortorder=desc")
    if response.status_code==200 : print('Connect successfully!')
    data = response.json()
except Exception as e:
    print(e)

Connect successfully!

In [18]:
df_HKi = pd.DataFrame(data['result']['records'])
df_HKi = df_HKi.set_index('end_of_month')  
df_HKi.index = pd.to_datetime(df_HKi.index)
df_HKi = df_HKi.sort_values('end_of_month')
df_HKi.head(2)

,dr_1w,dr_1m,dr_3m,dr_6m,dr_12m,savings_deposit_rate,best_lending_rate
end_of_month,,,,,,,
2020-01-01,0.09,0.12,0.16,0.2,0.31,0.001,5.0
2020-02-01,0.09,0.12,0.16,0.2,0.31,0.001,5.0

In [19]:
df_HKi.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 60 entries, 2020-01-01 to 2024-12-01
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   dr_1w                 60 non-null     float64
 1   dr_1m                 60 non-null     float64
 2   dr_3m                 60 non-null     float64
 3   dr_6m                 60 non-null     float64
 4   dr_12m                60 non-null     float64
 5   savings_deposit_rate  60 non-null     float64
 6   best_lending_rate     60 non-null     float64
dtypes: float64(7)
memory usage: 3.8 KB

In [20]:
filtered_df = df_HKi.savings_deposit_rate[(df_HKi.index.month == 12)]
filtered_df

end_of_month
2020-12-01    0.001
2021-12-01    0.001
2022-12-01    0.420
2023-12-01    0.790
2024-12-01    0.300
Name: savings_deposit_rate, dtype: float64

In [7]:
filtered_df.to_csv('HK_deposit_rate.csv')

# Federal Funds Effective Rate

In [21]:
# import os
from fredapi import Fred 

# Place your FRED API Key to replace os.environ['FRED_API_KEY']
FRED_API_KEY = '5a0f707c24cb7af846f4dc4b5da84411' # Create free account https://fred.stlouisfed.org/
fred = Fred(api_key=FRED_API_KEY)

In [33]:
apiFrom = '2020-01-01'
apiTo = '2024-12-31'

#df_Fed = pd.DataFrame()
df_Fed = fred.get_series('FEDFUNDS',observation_start = apiFrom, observation_end = apiTo)

In [10]:
pd.DataFrame(data=df_Fed, columns=['Rate'])

            Rate
2020-01-01  1.55
2020-02-01  1.58
2020-03-01  0.65
2020-04-01  0.05
2020-05-01  0.05
2020-06-01  0.08
2020-07-01  0.09
2020-08-01  0.10
2020-09-01  0.09
2020-10-01  0.09
2020-11-01  0.09
2020-12-01  0.09
2021-01-01  0.09
2021-02-01  0.08
2021-03-01  0.07
2021-04-01  0.07
2021-05-01  0.06
2021-06-01  0.08
2021-07-01  0.10
2021-08-01  0.09
2021-09-01  0.08
2021-10-01  0.08
2021-11-01  0.08
2021-12-01  0.08
2022-01-01  0.08
2022-02-01  0.08
2022-03-01  0.20
2022-04-01  0.33
2022-05-01  0.77
2022-06-01  1.21
2022-07-01  1.68
2022-08-01  2.33
2022-09-01  2.56
2022-10-01  3.08
2022-11-01  3.78
2022-12-01  4.10
2023-01-01  4.33
2023-02-01  4.57
2023-03-01  4.65
2023-04-01  4.83
2023-05-01  5.06
2023-06-01  5.08
2023-07-01  5.12
2023-08-01  5.33
2023-09-01  5.33
2023-10-01  5.33
2023-11-01  5.33
2023-12-01  5.33
2024-01-01  5.33
2024-02-01  5.33
2024-03-01  5.33
2024-04-01  5.33
2024-05-01  5.33
2024-06-01  5.33
2024-07-01  5.33
2024-08-01  5.33
2024-09-01  5.13
2024-10-01  4.83
2024-11-01  4.64
2024-12-01  4.48

In [11]:
df_Fed[(df_Fed.index.month == 12)].to_csv('US_rate.csv')

# 10 Year Federal Funds Bond Yields

In [ ]:
# import os
from fredapi import Fred 

# Place your FRED API Key to replace os.environ['FRED_API_KEY']
FRED_API_KEY = '5a0f707c24cb7af846f4dc4b5da84411' # Create free account https://fred.stlouisfed.org/
fred = Fred(api_key=FRED_API_KEY)

In [35]:
apiFrom = '2020-01-01'
apiTo = '2025-04-30'

#df_Fed = pd.DataFrame()
df_Fed = fred.get_series('IRLTLT01USQ156N',observation_start = apiFrom, observation_end = apiTo)

In [30]:
pd.DataFrame(data=df_Fed)

                   0
2020-01-01  1.376667
2020-04-01  0.686667
2020-07-01  0.650000
2020-10-01  0.863333
2021-01-01  1.316667
2021-04-01  1.593333
2021-07-01  1.323333
2021-10-01  1.536667
2022-01-01  1.940000
2022-04-01  2.930000
2022-07-01  3.106667
2022-10-01  3.830000
2023-01-01  3.646667
2023-04-01  3.593333
2023-07-01  4.150000
2023-10-01  4.440000
2024-01-01  4.160000
2024-04-01  4.443333
2024-07-01  3.946667
2024-10-01  4.283333
2025-01-01  4.453333

In [32]:
df_Fed[(df_Fed.index.month == 10)].to_csv('US_yield_rate.csv')